<head>
    <title>Sikh Temples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sikh Temples" />
    <meta charset utf="8">
</head>

<body>
    <div class="body-back">

        <section class="registration-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo-container">
                            <img src="./assets/images/logo-1.png" title="logo" alt="logo" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
                <!--================-->
                <div class="row pd-top-20">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <!-- Material form register -->
                        <form (submit)="doSignup()" *ngIf="SignUp">
                            <!-- Material input text -->
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text text-white"></i>
                                <input type="text" id="materialFormRegisterNameEx" [(ngModel)]="account.Name" name="Name" class="form-control custom-text">
                                <label for="materialFormRegisterNameEx" class="text-white">Full Name</label>
                            </div>

                            <!-- Material input text -->
                            <div class="md-form">
                                <i class="fa fa-building prefix grey-text text-white"></i>
                                <input type="text" id="materialFormRegistercodeEx" [(ngModel)]="account.Email" name="Email" class="form-control custom-text">
                                <label for="materialFormRegistercodeEx" class="text-white">Email</label>
                            </div>

                            <!-- Material input email -->
                            <div class="md-form">
                                <i class="fa fa-phone prefix grey-text text-white"></i>
                                <input type="email" id="materialFormRegisterEmailEx" [(ngModel)]="account.Mobile" name="Mobile" class="form-control custom-text">
                                <label for="materialFormRegisterEmailEx" class="text-white">Mobile</label>
                            </div>

                            <div class="text-center mt-4">
                                <button ion-button color="primary" class="btn btn-primary custom-btn z-depth-2" block>Register</button>


                            </div>
                        </form>
                        <!-- Material form register -->
                        <form (submit)="OTPSignup()" *ngIf="OTPSignUp">
                            <!-- Material input text -->
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text text-white"></i>
                                <input type="text" id="materialFormRegisterNameEx" [(ngModel)]="account.OTP" name="OTP" class="form-control custom-text">
                                <label for="materialFormRegisterNameEx" class="text-white">OTP</label>
                            </div>



                            <div class="text-center mt-4">
                                <button ion-button color="primary" class="btn btn-primary custom-btn z-depth-2" block>Register</button>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!--//pop-up-box -->

</body>